<footer class="text-center py-4 bg-light">
	<a class="btn btn-primary rounded-pill" href="{{ path('app_contact') }}">Contactez-nous</a>
	<div class="m-3">
		<span class="text-muted">&copy; 2023 - Oh My Game - Nicolas Carré - Mattéo Dauchez - Maty Guillard - Olivier Stierer</span>
	</div>
	<div class="m-3">
		<i class="blue fa-brands fa-twitch fs-4"></i>
		<i class="blue fa-brands fa-facebook-f fs-4 mx-5"></i>
		<i class="blue fa-brands fa-discord fs-4"></i>
	</div>
</footer>