<form method="post" action="{{ path('app_profil_delete', {'id': user.id}) }}" onsubmit="return confirm('Etes vous sûr de vouloir supprimer votre  compte ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">
    <button class="btn btn-danger rounded-pill">Supprimer mon profil</button>
</form>
