<section class="row my-4 text-center">
    <h2>Derniers Avis</h2>
    {% for i in 1..3 %}
        <div class="col-md-4 p-4">
            <p class="text-center">
                Eius et consequatur fugit praesentium atque repellat quis. Voluptatibus dignissimos iste et nihil animi nisi voluptatem. Placeat quas quia debitis corporis. Sint voluptate esse quidem voluptatem officia molestias. Qui placeat qui omnis a veritatis explicabo.
            </p>
            <div class="d-flex justify-content-end">
                <small>Marcel, 5 stars</small>
            </div>
        </div>
    {% endfor %}
    <div>
        <a href="" class="btn btn-primary">Voir tous les avis ...</a>
    </div>
</section>